<h3>
    {{ leyenda }}
</h3>

<div class="input-group">

    <input #txtProgress type="number" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" name="porcentaje" [(ngModel)]="porcentaje" (ngModelChange)="onChanges($event)" min="1" max="100">

    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(-5)">
            <i class="mdi mdi-minus"></i>
        </button>
        <button class="btn btn-outline-primary" type="button" (click)="cambiarValor(5)">
              <i class="mdi mdi-plus"></i>
        </button>
    </div>
</div>